/* Styles for my resume */

/* Sets font for entire resume to Open Sans, with arial and sans-serif fonts as fallbacks */
BODY {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight:400;
}

/* for container div */
#container {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* Banner name at top */
#name {
    font-size: 3em;
    color: #33485e;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

/* Occupation/title -- changed to a div and added font weight, text align and top margin */
#title {
    text-transform: uppercase;
    font-size: 1.5em;
    color: #33485e;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

/* Section titles */
.sectionheader {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: white;
    font-weight: 400;
    margin: 20px 0px 10px;
    width: 70%;
    min-width: 300px;
}

/* Job titles */
.jobtitle {
    font-weight: 600;
    font-size: 1.5em;
}

/* Job organizations -- font size changes from 1.5em to 1.25em with switch to class div */
.organization {
   font-weight: 400;
   font-size: 1.25em;
}

/* Job dates -- set top margin to two px, left all other margins at zero px following switch to class div */
.date {
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    margin-top: 2px;
}

/* List items (contact info, skills and education) */
li {
    font-size: 1em;
}

/* added description class within all <p> tags; top/bottom margins set at 10px; side margins set to 0px */
.description {
    margin: 10px 0px;
}

.menu {
    margin: 0px;
    text-align: center;
}
      
/* made list of contact information horizontal */
.menu li {
    display: inline;
    list-style-type: none;
}

#degrees {
    margin-top: 5px;
}

#do {
    margin-top: 5px;
}

.top {
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}