/* Styles for my resume */

/* Sets font for entire resume to Open Sans, with arial and sans-serif fonts as fallbacks */
BODY {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight:400;
}

/* Banner name at top */
h1 {
    font-size: 3em;
    color: #33485e;
    text-align: center;
    text-transform: uppercase;
}

/* Occupation/title */
strong {
    text-transform: uppercase;
    font-size: 1.5em;
    color: #33485e;
}

/* Section titles */
h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: white;
    font-weight: 400;
}

/* Job titles */
h3 {
    font-weight: 600;
    font-size: 1.5em;
}

/* Job organizations */
h4 {
   font-weight: 400;
   font-size: 1.5em;
}

/* Job dates */
h5 {
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
}

/* List items (contact info, skills and education) */
li {
    font-size: 1em;
}