.headline {
    font-size: 3em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.byline {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.date {
    font-size; 0.8em;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


.chapter-headline {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 600;
}

img, figcaption {
    width: 50%;
    margin: 0 auto;
    display: block;
}

figcaption {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1em;
    color: black;
}


p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.25em;
    line-height: 180%;
    width: 50%;
    margin: 0 auto;
}

footer {
    background-color: #EDEDED;
}

.footer-text p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1em;
    color: black;
    text-align: center;
}

.footer-text a {
    text-decoration: none;
    color: black;
}

.row {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.25em;
    line-height: 180%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5%;
}



